* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.box-head {
    display: flex;
    padding: 2rem 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1000;
    background-color: white;
}

.box-logoAndname {
    display: flex;
    flex-wrap: wrap;
}

.box-logo-head img {
    height: 3rem;
}

.box-name-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CC8837;
    font-size: 1.2rem;
}

.box-menuAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-menuAll ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-menuAll li {
    list-style: none;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.box-menuAll a {
    text-decoration: none;
    color: black;
}

.box-menuAll li:hover {
    transform: scale(1.2);
}

.box-menuAll a:hover {
    color: #CC8837;
}

.box-login-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.box-login-text a {
    text-decoration: none;
    color: black;
}

.box-login-text {
    transition: all 0.3s ease-in-out;
}

.box-login-text:hover {
    transform: scale(1.2);
}

.box-login-text a:hover {
    color: #CC8837;
}

/* head end */

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: whitesmoke;
}

.box-text-message h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main end */

.box-footer {
    display: flex;
    padding: 1.5rem 8rem;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1);
}

.box-logo-footer img {
    height: 3rem;
}

.box-textAndnamelogo-1 {
    color: #CC8837;
    font-size: 1.1rem;
}

.box-textAndnamelogo-2 {
    color: #CC8837;
}

.box-logoAndtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.box-contact-us {
    line-height: 1.5;
}

.box-contact-title {
    padding-bottom: 0.5rem;
}

.box-phone img {
    height: 1.2rem;
    padding-right: 0.5rem;
}

.box-phone p {
    display: flex;
    align-items: center;
}

.box-email img {
    height: 1.2rem;
    padding-right: 0.5rem;
}

.box-email p {
    display: flex;
    align-items: center;
}

.box-line img {
    height: 1.2rem;
    padding-right: 0.5rem;
}

.box-line p {
    display: flex;
    align-items: center;
}

.box-quick-link {
    line-height: 1.5;
}

.box-quick-title {
    padding-bottom: 0.5rem;
}

.box-quick-link ul li {
    list-style: none;
}

.box-quick-link ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.box-quick-link ul li a:hover {
    color: #CC8837;
}

.box-follow {
    line-height: 1.5;
}

.box-follow-title {
    padding-bottom: 0.5rem;
}

.box-follow img {
    height: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.box-follow img:hover {
    transform: scale(1.2);
}

/* footer end */

.box-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 5px 0;
    color: gray;
    background-color: whitesmoke;
}