* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* head end */

.box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.box-picAndtext-about {
    display: flex;
}

.slider-wrapper {
    width: 77rem;
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    background-color: #CC8837;
}

.slider-nav a.active {
    background-color: white;
}

.box-signature-main {
    padding: 3rem;
}

.box-text-signature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-all-signature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15rem;
}

.box-details-signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    line-height: 2;
}

.box-pic-signature img {
    height: 10rem;
    width: 10rem;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.box-promotion-main img {
    width: 77rem;
}

.box-comment-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

form {
    max-width: 400px;
    padding: 1.5rem 2rem;
    border: 1px solid #ddd;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    line-height: 2;
    background-color: white;
}

input, textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}

.box-submit-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-submit-main button {
    background-color: #CC8837;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.box-submit-main button:hover {
    opacity: 75%;
}

/* main end */

/* footer end */