<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="css/home-user.css">
    <script src="js/home-user.js" defer></script>
</head>

<body>
    <div class="box-main">
        <div class="box-picAndtext-about">
            <div class="box-pic-about">
                <section class="container">
                    <div class="slider-wrapper">
                        <div class="slider">
                            <img id="slide-1" src="img/home-1.jpg" alt="">
                            <img id="slide-2" src="img/home-2.jpg" alt="">
                            <img id="slide-3" src="img/home-3.jpg" alt="">
                        </div>
                        <div class="slider-nav">
                            <a href="#slide-1" tabindex="-1"></a>
                            <a href="#slide-2" tabindex="-1"></a>
                            <a href="#slide-3" tabindex="-1"></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="box-signature-main">
            <div class="box-text-signature">
                <h1>Signature</h1>
            </div>
            <div class="box-all-signature">
                <!-- signature-1 -->
                <div class="box-details-signature">
                    <div class="box-pic-signature">
                        <img src="img/menu-1.jpg" alt="signature">
                    </div>
                    <div class="box-name-signature">
                        <p>Americano</p>
                    </div>
                </div>
                <!-- signature-2 -->
                <div class="box-details-signature">
                    <div class="box-pic-signature">
                        <img src="img/menu-1.jpg" alt="signature">
                    </div>
                    <div class="box-name-signature">
                        <p>Americano</p>
                    </div>
                </div>
                <!-- signature-3 -->
                <div class="box-details-signature">
                    <div class="box-pic-signature">
                        <img src="img/menu-1.jpg" alt="signature">
                    </div>
                    <div class="box-name-signature">
                        <p>Americano</p>
                    </div>
                </div>
                <!-- signature-4 -->
                <div class="box-details-signature">
                    <div class="box-pic-signature">
                        <img src="img/menu-1.jpg" alt="signature">
                    </div>
                    <div class="box-name-signature">
                        <p>Americano</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-promotion-main">
            <img src="img/promotion-home.jpg" alt="PROMOTION">
        </div>

        <div class="box-comment-main">
            <form action="#" method="post">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" placeholder="กรอกชื่อของคุณ">
                <label for="comment">Comment</label>
                <textarea id="comment" name="comment" rows="3" placeholder="เขียนความคิดเห็นของคุณที่นี่..."></textarea>
                <div class="box-submit-main">
                    <button type="submit" name="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>