<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <!-- head start -->
    <div class="box-head">
        <div class="box-logoAndname">
            <div class="box-logo-head">
                <img src="img/icon/logo.png" alt="LOGO">
            </div>
            <div class="box-name-logo">
                <p>CAFFE AMENTES</p>
            </div>
        </div>
        <div class="box-menuAll">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">PROMOTION</a></li>
                <li><a href="#">QUEUE</a></li>
                <li><a href="#">REVIEW</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
        </div>
        <div class="box-login-head">
            <div class="box-login-text">
                <a href="#">LOGIN</a>
            </div>
        </div>
    </div>
    <!-- head end -->

    <!-- Main Start -->
    <div class="box-main">
        <div class="mainx">
            <form action="">
                <p>Log in</p>
                <input type="text" placeholder="Username"><br>
                <input type="password" placeholder="Password"><br>
                <button type="submit">Login</button><br>
                <a href="#">Forgot Password</a><br>
                <a href="#">Register</a>
            </form>
        </div>
    </div>
    <!-- Main End -->

    <!-- footer start -->
    <div class="box-footer">
        <div class="box-logoAndtext">
            <div class="box-logo-footer">
                <img src="img/icon/logo.png" alt="LOGO">
            </div>
            <div class="box-textAndnamelogo-1">
                <p>CAFFE AMENTES</p>
            </div>
            <div class="box-textAndnamelogo-2">
                <p>Start Your Day</p>
                <p>the Right Way.</p>
            </div>
        </div>
        <div class="box-contact-us">
            <div class="box-contact-title">
                <h3>Contact us</h3>
            </div>
            <div class="box-phone">
                <p><img src="img/icon/phone-call.png" alt="Phone-call">022-222-2222</p>
            </div>
            <div class="box-email">
                <p><img src="img/icon/email.png" alt="Email">Caffe.amentes@gmail.com</p>
            </div>
            <div class="box-line">
                <p><img src="img/icon/line.png" alt="Line">Amentes</p>
            </div>
        </div>
        <div class="box-quick-link">
            <div class="box-quick-title">
                <h3>Quick link</h3>
            </div>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Term of Service</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="box-follow">
            <div class="box-follow-title">
                <h3>Follow</h3>
            </div>
            <a href="https://www.facebook.com/"><img src="img/icon/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="img/icon/instagram.png" alt="instagram" style="padding: 0 0.5rem;"></a>
            <a href="https://x.com/"><img src="img/icon/twitter.png" alt="twitter"></a>
        </div>
    </div>
    <!-- footer end -->
    <div class="box-copyright">
        <p>&copy;2024 CAFFE AMENTES. Crafted with love and coffee. All rights reserved.</p>
    </div>
</body>

</html>